@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D1FFD7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    text-align: center;
};

/* h1 {
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
} */

.TodoWrapper {
    background: black;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5px;
}

.TodoForm {
    width: 100%;
    background-color: #B3FFB3;
    border: 2px solid #A6D3A0;
    border-radius: 10px;
    margin-top: 15rem;
}

.todo-input {
    outline: none;
    border: 1px solid #656565;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    width: 300px;
    border-radius: 5px;
    color: #656565;
}

.todo-input::placeholder {
    color: #5D576B;
}

.todo-btn {
    background: #656565;
    color: #F4F1BB;
    border: none;
    padding: 0.55rem;
    margin-left: 0.2rem;
    margin-right: 2rem;
    border-radius: 5px;
    cursor: pointer;
}

.Todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #B3FFB3;
    color: #808782;
    border: 2px solid #A6D3A0;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.fa-trash {
    margin-left: 0.75rem;
}

.completed {
    color: #fff;
    text-decoration: line-through;
}